<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/stylesheets/bootstrap-datetimepicker.min.css">
    <script src="../public/javascripts/jquery.min.js"></script>
    <script src="../public/javascripts/jquery.dataTables.min.js"></script>
    <script src="../public/javascripts/bootstrap.min.js"></script>
    <script src="../public/javascripts/moment.min.js"></script>
    <script src="../public/javascripts/bootstrap-datetimepicker.min.js"></script>

  </head>
  <body>
      <ul class="nav nav-tabs col-md-12">
          <li id="makeReservation"><a href="http://localhost:3000">Reservation</a></li>
          <li id="viewAll"><a href="http://localhost:3000/reservations">Upcoming Reservation</a></li>
      </ul>
        <br>